<% @note.tag_list.each do |tag| %>
  <div class="tag_group">
    <%= link_to tag,
                "#",
                class: "btn btn-default btn-sm tag_group_item",
                role: "button" %>

  </div>
<% end %>
