  <p></p>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <%= link_to "SkyNotes", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Projects", projects_path %></li>
    </ul>
  </nav>
